.back-top{
  background: url(imagens/images.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 18em;
}
#prag1{
	margin: 0;
	padding-top: 40px;
}
.retangulo{
	width: 250px;
	height: 30px;
	background: red;
	grid-auto-columns: column;
	padding: 6px;
	margin-bottom: 10px;
}
.altura-box{
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu{
	padding: 10px;
	background-color: #d9dbe0;
	text-align: center;
}
.select-op{

   background: white;
   padding-left: 8px;
   width: 40px; /* Tamanho do select, maior que o tamanho da div "div-select" */
   height: 26px; /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
   border: 1px solid #bab9b4;
}
.value{
	width: 80px;
}
.tabela{
	margin-top: 40px;
	display: flex;
	width: 80%;
}
.tabela1{
	width: 45%;
	margin-right: 40px;
}
